footer {
    background: $fc-bg;
    padding: 24px 0;
    @include media-breakpoint-up(xs) {
        padding: 14px 0;
    }
    .rs-footer-main {
        @include media-breakpoint-up(xs) {
            text-align: center;
        }
        img {
            height: 27px;
        }
    }
    .rs-social-main {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media-breakpoint-up(xs) {
            justify-content: center;
        }
        ul {
            display: flex;
            margin: 0;
            @include media-breakpoint-up(xs) {
                padding: 15px 0 0;
            }
            li {
                display: flex;
                a {
                    height: 24px;
                    width: 24px;
                    margin: 0 7px;
                    background-size: 100% !important;
                    &.fd {
                        background: url(../img/facebook.svg);
                    }
                    &.tw {
                        background: url(../img/twitter.svg);
                    }
                    &.gp {
                        background: url(../img/google-plus.svg);
                    }
                    &.in {
                        background: url(../img/linkedin.svg);
                    }
                    &.im {
                        background: url(../img/instagram.svg);
                    }
                }
            }
        }
    }
}