@import "rs_variables";
header {
    .navbar-light {
        padding: 38px 0;
        @include media-breakpoint-up(xs) {
            padding: 15px 0;
        }
        .navbar-brand {
            img {
                height: 71px;
                @include media-breakpoint-up(xs) {
                    height: 40px;
                }
            }
        }
        .rs-header-right {
            .rs-btn-header-call {
                text-align: left;
                padding: 10px 35px 10px 15px;
                font-size: 12px;
                font-weight: 700;
                span {
                    font-size: 15px;
                    display: block;
                }
                @include media-breakpoint-up(xs) {
                    padding: 6px 15px;
                    span {
                        font-size: 13px;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}