// Body
// ------start-variables
// $primary-main: #0891B3;
$fc-main: #3F3F3F;
$fc-black: black;
$fc-grey: #8B8B8B;
$bg-c:#F8F8F8;
$border:#E5E5E5;
$fc-bg:#F9F9F9;
$bor-c-bg:#979797;
$fc-white:white;
// $fw-Regular: 400;
// $fw-Medium: 500;
// $fw-SemiBold: 600;
// $fw-Black: 800;