// Body
$enable-rounded: true;
$blue: #0891B3;
$border-radius: 4px;
$input-btn-padding-y: 0.7rem !default;
$input-btn-padding-x: 2.0rem !default;
$font-size-base: 0.9375rem !default;
$font-weight-bold: 700 !default;
// ------start-variables