// -------all-p-tag-------
.rs-all-paragraph-font {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    @include media-breakpoint-up(lg) {
        font-size: 15px;
    }
}

// -------all-p-tag-------
// -------all-h2-tag-------
.rs-titles-all-second {
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -1px !important;
    color: $black;
    @include media-breakpoint-up(sm) {
        font-size: 33px;
    }
    @include media-breakpoint-up(lg) {
        font-size: 45px;
    }
}

// -------all-h2-tag-------
.rs-all-third-title-font {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.5px !important;
    color: $black;
    @include media-breakpoint-up(lg) {
        font-size: 18px
    }
}

// .rs-padding {
//     padding: 100px 0 50px;
// }
// ------app-btns-all
.rs-btn-app {
    >div {
        display: flex;
        padding: 6px 15px;
        position: relative;
        align-items: center;
        i {
            display: block;
            width: 25px;
            height: 31px;
        }
        .apple {
            background: url(../img/apple.svg) no-repeat;
        }
        .android {
            background: url(../img/android.svg) no-repeat;
        }
        .sr-app-btn-main {
            margin-left: 10px;
            span {
                font-size: 12px;
                font-weight: 500;
                color: $white;
            }
            label {
                display: block;
                font-size: 15px;
                font-weight: 700;
                color: $white;
                margin-bottom: 0;
            }
        }
        @include media-breakpoint-up(lg) {
            padding: 12px 35px 12px 17px;
        }
    }
}

// ------app-btns-all
// ------form-alls------
.rs-all-form-main {
    .form-group {
        margin-bottom: 25px;
        .form-control {
            padding: 14px 15px;
            font-weight: 500;
            font-size: 14px;
            background: $bg-c;
            height: auto;
            border: none;
            color: $blue;
            border-radius: 4px;
            opacity: 1;
            &:focus {
                box-shadow: none;
            }
        }
         ::placeholder {
            color: #d1d1d1 !important;
        }
    }
}

// ------form-alls------
.rs-swiper-next-prev-btn-main {
    .rs-lets-go-car-slider-next,
    .rs-lets-go-car-slider-prev,
    .rs-testimonials-slider-next,
    .rs-testimonials-slider-prev {
        background-image: none;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        top: -20px;
        right: 20px;
        left: auto;
        height: auto;
        width: auto;
        outline: none;
        display: inline-block;
        &::before {
            background: url(../img/arrow-hover-01.svg)no-repeat;
            background-size: contain;
            content: "";
            position: absolute;
            width: 10px;
            height: 5px;
            top: -2px;
            bottom: 0;
            right: -20px;
            margin: auto;
            transform: rotate(180deg);
        }
    }
    .rs-lets-go-car-slider-prev,
    .rs-testimonials-slider-prev {
        right: 80px;
        &::before {
            right: auto;
            left: -20px;
            transform: rotate(0deg);
        }
    }
}