#rs-page-index {
    .rs-banner-main {
        padding-top: 0;
        background: url(../img/banner-img.png)no-repeat;
        background-size: cover;
        height: 720px;
        // min-height: 100vh;
        // background-position: bottom center;
        // padding-top: 100px;
        @include media-breakpoint-up(md) {
            padding-top: 18px;
            height: 580px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 40px;
            height: 720px;
        }
        .order-images-one-main {
            order: 2;
            @include media-breakpoint-up(md) {
                order: 1;
            }
            .rs-text-and-img-main {
                h1 {
                    font-weight: 800;
                    font-size: 35px;
                    text-transform: uppercase;
                    color: $fc-main;
                    letter-spacing: -1px !important;
                    line-height: 48px;
                    span {
                        color: $blue;
                    }
                    @include media-breakpoint-up(sm) {
                        font-size: 45px;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 55px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 65px;
                    }
                }
                h3 {
                    font-weight: 700;
                    font-size: 22px;
                    color: $fc-main;
                    line-height: 0;
                    margin: 0;
                    letter-spacing: -1px!important;
                    @include media-breakpoint-up(sm) {
                        font-size: 26px;
                    }
                    @include media-breakpoint-up(md) {
                        font-size: 30px;
                        line-height: 12px;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 35px;
                    }
                }
                .rs-text-padding {
                    padding: 30px 0 15px;
                    h4 {
                        font-weight: 600;
                        font-size: 16px;
                        margin: 4px 0 12px;
                        line-height: 26px;
                        @include media-breakpoint-up(lg) {
                            font-size: 18px;
                        }
                        span {
                            font-weight: 700;
                            color: $black;
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        padding: 30px 0 40px;
                    }
                }
                img {
                    text-align: center;
                }
            }
        }
        .order-images-two-main {
            order: 1;
            margin: 20px 0;
            @include media-breakpoint-up(md) {
                order: 2;
            }
            .rs-mobile-image-main {
                display: flex;
                justify-content: center;
                img {
                    height: 280px;
                    @include media-breakpoint-up(sm) {
                        height: 330px;
                    }
                    @include media-breakpoint-up(md) {
                        height: 500px;
                    }
                    @include media-breakpoint-up(lg) {
                        height: 598px;
                    }
                }
            }
        }
    }
    // ----sections-02---
    .rs-features-main {
        padding: 60px 0 35px;
        @include media-breakpoint-up(sm) {
            padding: 75px 0 45px;
        }
        @include media-breakpoint-up(md) {
            padding: 90px 0 55px;
        }
        @include media-breakpoint-up(lg) {
            padding: 100px 0 60px;
        }
        .rs-title-main-text {
            p {
                max-width: 558px;
                margin-top: 15px;
            }
        }
        .rs-features-listing-main {
            padding: 20px 0 0;
            @include media-breakpoint-up(lg) {
                padding: 35px 0 0;
            }
            .rs-listing-main {
                display: flex;
                margin-bottom: 25px;
                .rs-border-main {
                    border-radius: 4px;
                    border: 1px dashed $bor-c-bg;
                    width: 65px;
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        width: 24px;
                        height: 24px;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &.rs-tracking {
                            background-image: url(../img/tracking.svg);
                        }
                        &.rs-splash {
                            background-image: url(../img/splash.svg);
                        }
                        &.rs-verification {
                            background-image: url(../img/verification.svg);
                        }
                        &.rs-login {
                            background-image: url(../img/login.svg);
                        }
                        &.rs-book-trip {
                            background-image: url(../img/book.svg);
                        }
                        &.rs-application {
                            background-image: url(../img/application.svg);
                        }
                        &.rs-driver-get {
                            background-image: url(../img/driver-get.svg);
                        }
                        &.rs-rider {
                            background-image: url(../img/rider.svg);
                        }
                        &.rs-driver {
                            background-image: url(../img/Driver.svg);
                        }
                        &.rs-invoice {
                            background-image: url(../img/invoice.svg);
                        }
                        &.rs-review-rating {
                            background-image: url(../img/review.svg);
                        }
                        &.rs-edit-profile {
                            background-image: url(../img/edit-profile.svg);
                        }
                        &.rs-booking-history {
                            background-image: url(../img/edit-profile.svg);
                        }
                        &.rs-driver-manage {
                            background-image: url(../img/driver-app-manage.svg);
                        }
                    }
                    @include media-breakpoint-up(lg) {
                        width: 76px;
                        height: 76px;
                        i {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
                .rs-title-listing {
                    width: calc(100% - 76px);
                    margin-left: 15px;
                    p {
                        margin: 0;
                    }
                }
                &:hover {
                    .rs-border-main {
                        border: 1px dashed $blue;
                    }
                    h3 {
                        color: $blue;
                        transition: all 0.3s linear 0s !important;
                    }
                    i {
                        &.rs-tracking {
                            background-image: url(../img/tracking-ho.svg);
                        }
                        &.rs-splash {
                            background-image: url(../img/splash-ho.svg);
                        }
                        &.rs-verification {
                            background-image: url(../img/Verification-ho.svg);
                        }
                        &.rs-login {
                            background-image: url(../img/login-ho.svg);
                        }
                        &.rs-book-trip {
                            background-image: url(../img/book-ho.svg);
                        }
                        &.rs-application {
                            background-image: url(../img/application-ho.svg);
                        }
                        &.rs-driver-get {
                            background-image: url(../img/driver-get-ho.svg);
                        }
                        &.rs-rider {
                            background-image: url(../img/rider-ho.svg);
                        }
                        &.rs-driver {
                            background-image: url(../img/Driver-ho.svg);
                        }
                        &.rs-invoice {
                            background-image: url(../img/invoice-ho.svg);
                        }
                        &.rs-review-rating {
                            background-image: url(../img/review-ho.svg);
                        }
                        &.rs-edit-profile {
                            background-image: url(../img/edit-profile-ho.svg);
                        }
                        &.rs-booking-history {
                            background-image: url(../img/edit-profile-ho.svg);
                        }
                        &.rs-driver-manage {
                            background-image: url(../img/driver-app-manage-ho.svg);
                        }
                    }
                }
            }
        }
    }
    // ------sections-3---
    .rs-download-app {
        padding: 60px 0 35px;
        background: $bg-c;
        @include media-breakpoint-up(sm) {
            padding: 75px 0 50px;
        }
        @include media-breakpoint-up(md) {
            padding: 90px 0 60px;
        }
        .rs-download-title-main {
            text-align: left !important;
            @include media-breakpoint-up(md) {
                text-align: center!important;
            }
        }
        .rs-apps-btns-listing {
            padding: 25px 0 25px;
            border-bottom: 1px solid $border;
            @include media-breakpoint-up(sm) {
                padding: 25px 0 0;
            }
            @include media-breakpoint-up(md) {
                padding: 30px 0 0;
            }
            .rs-apps-listing-main {
                padding-bottom: 30px;
                p {
                    margin: 15px 0;
                }
                .rs-buts-list {
                    margin-right: 0;
                    padding: 18px 0 0;
                }
                @include media-breakpoint-up(sm) {
                    padding-bottom: 50px;
                }
            }
        }
        .rs-admin-panel-main {
            padding: 60px 0 25px;
            .rs-admin-panel {
                form {
                    .form-group {
                        .form-control {
                            background: $white;
                        }
                    }
                }
                .btn-primary {
                    padding: 14px 46px;
                }
            }
        }
        @include media-breakpoint-up(lg) {
            padding: 115px 0 35px;
            .rs-apps-btns-listing {
                padding: 60px 0;
            }
            p {
                margin: 18px 0;
            }
        }
    }
    // ------rs-padding rs-lets-go-main
    .rs-lets-go-main {
        padding: 70px 0 33px;
        @include media-breakpoint-up(sm) {
            padding: 80px 0 43px;
        }
        @include media-breakpoint-up(md) {
            padding: 95px 0 53px;
        }
        @include media-breakpoint-up(lg) {
            padding: 150px 0 33px;
        }
        .rs-never-miss-main {
            padding-bottom: 20px;
            @include media-breakpoint-up(md) {
                padding-bottom: 0px;
            }
            h2 {
                max-width: 447px !important;
            }
            p {
                max-width: 467px !important;
            }
            .rs-never-main {
                margin-top: 45px;
                @include media-breakpoint-up(lg) {
                    margin-top: 70px;
                }
            }
        }
        .rs-lets-go-car-slider-main {
            border: 1px solid #E5E5E5;
            position: relative;
            margin-top: 50px;
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-wrapper {
                    .swiper-slide {
                        .rs-cars-img-listing {
                            overflow: hidden;
                            padding: 35px 10px;
                            img {
                                object-fit: contain;
                                object-position: center center;
                                width: 100%;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-up(md) {
                margin-top: 0;
            }
        }
        .rs-contact-form-with-main {
            padding: 50px 0 30px;
            margin-top: 60px;
            border-top: 1px solid $border;
            @include media-breakpoint-up(md) {
                margin-top: 20px;
            }
            .rs-contact-main {
                .rs-name-listing {
                    padding: 30px 0;
                }
            }
            @include media-breakpoint-up(lg) {
                padding: 74px 0;
                margin-top: 73px;
            }
        }
    }
    // ----rs-our-fun-facts
    .rs-our-fun-facts {
        background: url(../img/our-fun-cars.png)no-repeat;
        background-size: cover;
        z-index: 10;
        position: relative;
        padding: 70px 0 30px;
        @include media-breakpoint-up(sm) {
            padding: 80px 0 45px;
        }
        @include media-breakpoint-up(lg) {
            padding: 100px 0 118px;
        }
        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            background-color: rgba(0, 0, 0, 0.90);
            position: absolute;
            z-index: -1;
        }
        .rs-titles-all-second {
            color: $white;
        }
        .rs-all-paragraph-font {
            max-width: 467px;
            margin: 0 auto;
        }
        .rs-images-and-listin-main {
            padding: 60px 0 0;
            .rs-our-fun-facts-listing-main {
                display: flex;
                align-items: center;
                padding-bottom: 40px;
                .rs-images-listing {
                    img {
                        height: auto;
                    }
                }
                .rs-our-listing-main {
                    margin-left: 18px;
                    border-left: 2px dotted $white;
                    padding-left: 18px;
                    .rs-all-paragraph-font {
                        // color: $fc-grey;
                        line-height: 20px;
                    }
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: -1px;
                        color: $white;
                        line-height: 16px;
                        margin: 0;
                        @include media-breakpoint-up(sm) {
                            font-size: 22px;
                        }
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                padding: 88px 0 0;
                .rs-our-listing-main {
                    h4 {
                        font-size: 25px;
                    }
                }
            }
        }
    }
    // -------rs-testimonials-main----
    .rs-testimonials-main {
        padding: 70px 0 25px;
        @include media-breakpoint-up(sm) {
            padding: 80px 0 45px;
        }
        @include media-breakpoint-up(md) {
            padding: 95px 0 50px;
        }
        @include media-breakpoint-up(lg) {
            padding: 110px 0 25px;
        }
        .rs-testimonials-title-main {
            p {
                font-weight: 600;
                font-size: 18px;
                letter-spacing: -0.5px;
                margin: 0;
                @include media-breakpoint-up(lg) {
                    font-size: 20px;
                }
            }
        }
        .rs-testimonials-slider-main {
            padding: 25px 0 70px;
            position: relative;
            @include media-breakpoint-up(sm) {
                padding: 25px 0 35px;
            }
            @include media-breakpoint-up(lg) {
                padding: 50px 0 70px;
            }
            .swiper-container {
                width: 100%;
                height: 100%;
                .swiper-wrapper {
                    .swiper-slide {
                        .rs-client-main {
                            display: flex;
                            align-items: center;
                            padding: 20px 0;
                            .sr-client-img {
                                width: 70px;
                                height: 70px;
                                overflow: hidden;
                                display: inline-block;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-position: center center;
                                    object-fit: cover;
                                }
                            }
                            .rs-name-main {
                                margin-left: 20px;
                                h6 {
                                    font-size: 18px;
                                    font-weight: 700;
                                    letter-spacing: -1px;
                                    line-height: 18px;
                                }
                                p {
                                    font-size: 15px;
                                    font-weight: 400;
                                    margin: 0;
                                    line-height: 15px;
                                    letter-spacing: -0.8px;
                                }
                            }
                        }
                    }
                }
            }
            .rs-testimonials-next-prev {
                .rs-testimonials-slider-next,
                .rs-testimonials-slider-prev {
                    top: auto;
                    bottom: 30px;
                    @include media-breakpoint-up(sm) {
                        bottom: 78px;
                    }
                    @include media-breakpoint-up(md) {
                        bottom: 10px;
                    }
                    @include media-breakpoint-up(lg) {
                        bottom: 115px;
                    }
                }
            }
        }
    }
}