#rs-page-index {
    .rs-banner-main {
        padding-top: 100px;
        background-position: bottom center;
        background: url(../img/banner-img.png)no-repeat;
        background-size: cover;
        min-height: 100vh;
        .rs-text-and-img-main {
            h1 {
                font-weight: 800;
                font-size: 65px;
                text-transform: uppercase;
                color: $fc-main;
                letter-spacing: -4px!important;
                line-height: 48px;
                span {
                    color: $blue;
                }
            }
            h3 {
                font-weight: 700;
                font-size: 35px;
                color: $fc-main;
                line-height: 23px;
                letter-spacing: -3px!important;
            }
            .rs-text-padding {
                padding: 30px 0 40px;
                h4 {
                    font-weight: 600;
                    font-size: 18px;
                    color: $fc-grey;
                    letter-spacing: -0.9px!important;
                    span {
                        font-weight: 700;
                        color: $fc-black;
                    }
                }
            }
            img {
                text-align: center;
            }
        }
        .rs-mobile-image-main {
            display: flex;
            justify-content: center;
            img {
                height: 598px;
            }
        }
    }
    // ----sections-02---
    .rs-features-main {
        .rs-title-main-text {
            p {
                max-width: 530px;
                margin-top: 15px;
            }
        }
        .rs-features-listing-main {
            padding: 45px 0 0;
            .rs-listing-main {
                display: flex;
                margin-bottom: 35px;
                .rs-border-main {
                    border-radius: 4px;
                    border: 1px dashed $bor-c-bg;
                    width: 76px;
                    height: 76px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        width: 30px;
                        height: 30px;
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        &.rs-tracking {
                            background-image: url(../img/tracking.svg);
                        }
                        &.rs-splash {
                            background-image: url(../img/splash.svg);
                        }
                        &.rs-verification {
                            background-image: url(../img/verification.svg);
                        }
                        &.rs-login {
                            background-image: url(../img/login.svg);
                        }
                        &.rs-book-trip {
                            background-image: url(../img/book.svg);
                        }
                        &.rs-application {
                            background-image: url(../img/application.svg);
                        }
                        &.rs-driver-get {
                            background-image: url(../img/driver-get.svg);
                        }
                        &.rs-rider {
                            background-image: url(../img/rider.svg);
                        }
                        &.rs-driver {
                            background-image: url(../img/Driver.svg);
                        }
                        &.rs-invoice {
                            background-image: url(../img/invoice.svg);
                        }
                        &.rs-review-rating {
                            background-image: url(../img/review.svg);
                        }
                        &.rs-edit-profile {
                            background-image: url(../img/edit-profile.svg);
                        }
                        &.rs-booking-history {
                            background-image: url(../img/edit-profile.svg);
                        }
                        &.rs-driver-manage {
                            background-image: url(../img/driver-app-manage.svg);
                        }
                    }
                }
                .rs-title-listing {
                    width: calc(100% - 76px);
                    margin-left: 15px;
                    p {
                        letter-spacing: -0.7px;
                    }
                }
                &:hover {
                    .rs-border-main {
                        border: 1px dashed $blue;
                    }
                    h3 {
                        color: $blue;
                        transition: all 0.3s linear 0s !important;
                    }
                    i {
                        &.rs-tracking {
                            background-image: url(../img/tracking-ho.svg);
                        }
                        &.rs-splash {
                            background-image: url(../img/splash-ho.svg);
                        }
                        &.rs-verification {
                            background-image: url(../img/Verification-ho.svg);
                        }
                        &.rs-login {
                            background-image: url(../img/login-ho.svg);
                        }
                        &.rs-book-trip {
                            background-image: url(../img/book-ho.svg);
                        }
                        &.rs-application {
                            background-image: url(../img/application-ho.svg);
                        }
                        &.rs-driver-get {
                            background-image: url(../img/driver-get-ho.svg);
                        }
                        &.rs-rider {
                            background-image: url(../img/rider-ho.svg);
                        }
                        &.rs-driver {
                            background-image: url(../img/Driver-ho.svg);
                        }
                        &.rs-invoice {
                            background-image: url(../img/invoice-ho.svg);
                        }
                        &.rs-review-rating {
                            background-image: url(../img/review-ho.svg);
                        }
                        &.rs-edit-profile {
                            background-image: url(../img/edit-profile-ho.svg);
                        }
                        &.rs-booking-history {
                            background-image: url(../img/edit-profile-ho.svg);
                        }
                        &.rs-driver-manage {
                            background-image: url(../img/driver-app-manage-ho.svg);
                        }
                    }
                }
            }
        }
    }
    // ------sections-3---
    .rs-download-app {
        background: $bg-c;
        .rs-download-title-main {
            p {
                letter-spacing: -0.8px;
            }
        }
        .rs-apps-btns-listing {
            padding: 60px 0;
            border-bottom: 1px solid $border;
            .rs-apps-listing-main {
                p {
                    margin: 18px 0;
                }
                .rs-buts-list {
                    margin-right: 0;
                    padding: 18px 0 0;
                }
            }
        }
        .rs-admin-panel-main {
            padding: 60px 0;
            .rs-admin-panel {
                form {
                    .form-group {
                        .form-control {
                            background: $fc-white;
                        }
                    }
                }
                .btn-primary {
                    padding: 14px 46px;
                }
            }
        }
    }
    // ------rs-padding rs-lets-go-main
    .rs-lets-go-main {
        .rs-never-miss-main {
            padding-bottom: 30px;
            h2 {
                max-width: 447px !important;
            }
            p {
                max-width: 467px !important;
            }
            .rs-never-main {
                margin-top: 40px;
            }
        }
        // ----------
        .rs-contact-form-with-main {
            padding: 60px 0;
            border-top: 1px solid $border;
            .rs-contact-main {
                .rs-name-listing {
                    padding: 30px 0;
                }
            }
        }
    }
    // ----rs-our-fun-facts
    .rs-our-fun-facts {
        background: url(../img/our-fun-cars.png)no-repeat;
        background-size: cover;
        z-index: 10;
        position: relative;
        padding: 100px 0;
        &::before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: "";
            background-color: rgba(0, 0, 0, 0.90);
            position: absolute;
            z-index: -1;
        }
        .rs-titles-all-second {
            color: $fc-white;
        }
        .rs-all-paragraph-font {
            max-width: 467px;
            margin: 0 auto;
        }
        .rs-images-and-listin-main {
            padding: 65px 0 0;
            .rs-our-fun-facts-listing-main {
                display: flex;
                align-items: center;
                .rs-images-listing {
                    img {
                        height: auto;
                    }
                }
                .rs-our-listing-main {
                    margin-left: 18px;
                    border-left: 2px dotted $fc-white;
                    padding-left: 18px;
                    .rs-all-paragraph-font {
                        color: $fc-grey;
                        line-height: 20px;
                    }
                    h4 {
                        font-size: 25px;
                        font-weight: 500;
                        letter-spacing: -1.5px;
                        color: $fc-white;
                        line-height: 16px;
                        margin: 0;
                    }
                }
            }
        }
    }
}