<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">

    <title>Ride for Sure</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <main id="rs-page-index">
            <section class="rs-banner-main">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 order-images-one-main">
                            <div class="rs-text-and-img-main">
                                <h1>RIDE FOR <span>SURE</span></h1>
                                <h3>Mobile App</h3>
                                <div class="rs-text-padding">
                                    <h4>Downlaod the <span>Ride for Sure</span> voucher app free! Say Goodbye to paper vouchers
                                    </h4>
                                    <p class="rs-all-paragraph-font">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                    </p>
                                </div>
                            </div>
                            <div class="rs-btn-listing-main">

                                <a href="#" class="btn btn-secondary p-0 mr-3 rs-btn-app">
                                    <div>
                                        <i class="apple"></i>
                                        <div class="sr-app-btn-main">
                                            <span>Download on</span><label>Play
                                            Store</label>
                                        </div>
                                    </div>
                                </a>

                                <a href="#" class="btn btn-secondary p-0 rs-btn-app">
                                    <div>
                                        <i class="android"></i>
                                        <div class="sr-app-btn-main">
                                            <span>Download on</span><label>PlayStore</label>
                                        </div>
                                    </div>
                                </a>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 order-images-two-main">
                            <div class="rs-mobile-image-main">
                                <img src="img/mobile.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rs-features-main">
                <div class="container">
                    <div class="rs-title-main-text">
                        <h2 class="rs-titles-all-second">Features</h2>
                        <p class="rs-all-paragraph-font">Powerful, Scalable & Demanding taxi/cab booking app with complete features. It is build with powerful infrastructure and based on GPS for route tracking. This can support any number of drivers.
                        </p>
                    </div>
                    <div class="rs-features-listing-main">
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-tracking"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Realtime GPS Tracking</h3>
                                        <p class="rs-all-paragraph-font">Powerful & highly customised Realtime GPS Tracking algorithm using Kalman Filter and Gyro Api's
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-splash"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Splash Screen</h3>
                                        <p class="rs-all-paragraph-font">User & Driver Applications will display splash screen for few secounds and then accompanied by stylish animation</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-verification"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Account Verification</h3>
                                        <p class="rs-all-paragraph-font">User & Driver app will need to verify their Mobile Number via OTP received in SMS, app will read sms automatically</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-login"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Login & Registration</h3>
                                        <p class="rs-all-paragraph-font">User & Driver can login using email address and password which they choose during signup proccess.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-book-trip"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Book A Trip</h3>
                                        <p class="rs-all-paragraph-font">Rider will enter the Pickup Location & drop location using auto-complete or manually drag & pin them on the Map.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-application"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Application Slide Menu</h3>
                                        <p class="rs-all-paragraph-font">User can access features of the User App & driver can access his Trips Statistics, Manage Vehicles & documents.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-driver-get"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Driver Get Online</h3>
                                        <p class="rs-all-paragraph-font">Driver has to turn on ON-Duty switch on the App to accept the rides ,This is how he is getting online.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-rider"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Rider</h3>
                                        <p class="rs-all-paragraph-font">Once the confirm booking button has been pressed by rider then will show waiting to user until any driver accept.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-driver"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Driver</h3>
                                        <p class="rs-all-paragraph-font">First Driver in the range of 5 Km's will receive a notification on their mobile using push notification.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-invoice"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Invoice Summary</h3>
                                        <p class="rs-all-paragraph-font">Once driver slide Trip complete button he is redirected to statistics and user will see ride summary on screen.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-review-rating"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Review & Rating</h3>
                                        <p class="rs-all-paragraph-font">Rider can provide feedback for Driver for each Ride. All feedbacks will be shown on driver's Review & Rating</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-edit-profile"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Edit Profile
                                        </h3>
                                        <p class="rs-all-paragraph-font">User & Driver both can manage their profile details like Photo, Name, Email Address, Mobile number & Other</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-booking-history"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Booking History
                                        </h3>
                                        <p class="rs-all-paragraph-font">Riders & Drivers get a view of their past trip with detail and also route on map and can filter bookings.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="rs-listing-main">
                                    <div class="rs-border-main">
                                        <i class="rs-driver-manage"></i>
                                    </div>
                                    <div class="rs-title-listing">
                                        <h3 class="rs-all-third-title-font">Driver App Manage</h3>
                                        <p class="rs-all-paragraph-font">Driver can also manage details of their vehicles & documents, vehicle listed using number plate & car type</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rs-download-app">
                <div class="container">
                    <div class="rs-download-title-main text-center">
                        <h2 class="rs-titles-all-second">Download My App</h2>
                        <p class="rs-all-paragraph-font">Checkout bellow our live demo on google play store and admin panel demo</p>
                    </div>
                    <div class="rs-apps-btns-listing">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="rs-apps-listing-main text-md-center">
                                    <h3 class="rs-all-third-title-font">User App</h3>
                                    <p class="rs-all-paragraph-font">Click bellow google play button to check user taxi/cab app on google app store.</p>

                                    <a href="#" class="btn btn-secondary p-0 mr-3 rs-btn-app">
                                        <div>
                                            <i class="apple"></i>
                                            <div class="sr-app-btn-main">
                                                <span>Download on</span><label>App
                                                Store</label>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="rs-apps-listing-main text-md-center">
                                    <h3 class="rs-all-third-title-font">Driver App</h3>
                                    <p class="rs-all-paragraph-font">Click bellow google play button to check driver taxi/cab app on google App store.</p>

                                    <a href="#" class="btn btn-secondary p-0 mr-3 rs-btn-app">
                                        <div>
                                            <i class="apple"></i>
                                            <div class="sr-app-btn-main">
                                                <span>Download on</span><label>App
                                                Store</label>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="rs-apps-listing-main text-md-center">
                                    <h3 class="rs-all-third-title-font">User App</h3>
                                    <p class="rs-all-paragraph-font">Click bellow google play button to check user taxi/cab app on google play store.</p>

                                    <a href="#" class="btn btn-secondary p-0 mr-3 rs-btn-app">
                                        <div>
                                            <i class="android"></i>
                                            <div class="sr-app-btn-main">
                                                <span>Download on</span><label>Play
                                                Store</label>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="rs-apps-listing-main text-md-center">
                                    <h3 class="rs-all-third-title-font">Driver App</h3>
                                    <p class="rs-all-paragraph-font">Click bellow google play button to check driver taxi/cab app on google play store.</p>

                                    <a href="#" class="btn btn-secondary p-0 mr-3 rs-btn-app">
                                        <div>
                                            <i class="android"></i>
                                            <div class="sr-app-btn-main">
                                                <span>Download on</span><label>Play
                                                Store</label>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rs-admin-panel-main">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="rs-admin-panel">
                                    <h2 class="rs-titles-all-second">Admin Panel</h2>
                                    <p class="rs-all-paragraph-font">Admin Login</p>
                                    <p class="rs-all-paragraph-font">User: admin | Pass: demo</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="rs-admin-panel">
                                    <form class="rs-all-form-main">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rs-lets-go-main">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="rs-never-miss-main">
                                <h2 class="rs-titles-all-second">Never Miss a deal. Let’s Go.</h2>
                                <p class="rs-all-paragraph-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                                <div class="rs-never-main">
                                    <form class="rs-all-form-main">
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                            </div>
                                            <div class="col-md-2">
                                                <button type="submit" class="btn btn-primary">Sign Up</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="rs-lets-go-car-slider-main">
                                <div class="swiper-container rs-lets-go-car-slider-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="rs-cars-img-listing">
                                                <img src="img/car-01.png" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="rs-cars-img-listing">
                                                <img src="img/car-img-white.png" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="rs-cars-img-listing">
                                                <img src="img/car-01.png" alt="">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="rs-cars-img-listing">
                                                <img src="img/car-img-white.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Arrows -->

                                </div>
                                <div class="rs-swiper-next-prev-btn-main">
                                    <div class="swiper-button-next rs-lets-go-car-slider-next">next</div>
                                    <div class="swiper-button-prev rs-lets-go-car-slider-prev">prev</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rs-contact-form-with-main">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="rs-contact-main">
                                    <h2 class="rs-titles-all-second">Contact</h2>
                                    <p class="rs-all-paragraph-font">Before reaching us you may read our FAQs for common questions and answers.</p>
                                    <div class="rs-name-listing">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <h3 class="rs-all-third-title-font">Phone</h3>
                                                <p class="rs-all-paragraph-font">12345 67890
                                                </p>
                                            </div>
                                            <div class="col-md-7">
                                                <h3 class="rs-all-third-title-font">Email</h3>
                                                <p class="rs-all-paragraph-font">rideforsure@gmain.com</p>
                                            </div>
                                            <div class="col-md-12">
                                                <h3 class="rs-all-third-title-font">Address</h3>
                                                <p class="rs-all-paragraph-font">class="rs-all-paragraph-font"8594 Peninsula Street. Massapequa, NY 11758.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="rs-contact-form">
                                    <form class="rs-all-form-main">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" id="name" placeholder="name">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <input type="text" class="form-control" id="email" placeholder="email">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <input type="text" class="form-control" id="phone" placeholder="phone">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Get
                                        a Call Back</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rs-our-fun-facts">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2 class="rs-titles-all-second">Our fun facts</h2>
                            <p class="rs-all-paragraph-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="rs-images-and-listin-main">
                        <div class="row">
                            <div class="col-6 col-md-3 d-flex justify-content-md-center">
                                <div class="rs-our-fun-facts-listing-main">
                                    <div class="rs-images-listing">
                                        <img src="img/our-car-img.svg" alt="">
                                    </div>
                                    <div class="rs-our-listing-main">
                                        <p class="rs-all-paragraph-font">Cabs</p>
                                        <h4>8350</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 d-flex justify-content-md-center">
                                <div class="rs-our-fun-facts-listing-main">
                                    <div class="rs-images-listing">
                                        <img src="img/Trips-Daily.svg" alt="">
                                    </div>
                                    <div class="rs-our-listing-main">
                                        <p class="rs-all-paragraph-font">Trips Daily
                                        </p>
                                        <h4>25000</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 d-flex justify-content-md-center">
                                <div class="rs-our-fun-facts-listing-main">
                                    <div class="rs-images-listing">
                                        <img src="img/Clients-Annually.svg" alt="">
                                    </div>
                                    <div class="rs-our-listing-main">
                                        <p class="rs-all-paragraph-font">Clients Annually</p>
                                        <h4>550000+</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-md-3 d-flex justify-content-md-center">
                                <div class="rs-our-fun-facts-listing-main">
                                    <div class="rs-images-listing">
                                        <img src="img/Kilometers.svg" alt="">
                                    </div>
                                    <div class="rs-our-listing-main">
                                        <p class="rs-all-paragraph-font">Kilometers Daily
                                        </p>
                                        <h4>12000+</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="rs-testimonials-main">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-md-8">
                            <div class="rs-testimonials-title-main">
                                <h2 class="rs-titles-all-second">Testimonials</h2>
                                <p>What People Say</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="rs-testimonials-slider-main">
                                <div class="swiper-container rs-testimonials-slider-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <div class="rs-client-main">
                                                <div class="sr-client-img rounded-circle">
                                                    <img src="img/testimonials-01.png" alt="">
                                                </div>
                                                <div class="rs-name-main">
                                                    <h6>Lorem ipsum dolor</h6>
                                                    <p>Lorem ipsum dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <div class="rs-client-main">
                                                <div class="sr-client-img rounded-circle">
                                                    <img src="img/testimonials-01.png" alt="">
                                                </div>
                                                <div class="rs-name-main">
                                                    <h6>Lorem ipsum dolor</h6>
                                                    <p>Lorem ipsum dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <div class="rs-client-main">
                                                <div class="sr-client-img rounded-circle">
                                                    <img src="img/testimonials-01.png" alt="">
                                                </div>
                                                <div class="rs-name-main">
                                                    <h6>Lorem ipsum dolor</h6>
                                                    <p>Lorem ipsum dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                            <div class="rs-client-main">
                                                <div class="sr-client-img rounded-circle">
                                                    <img src="img/testimonials-01.png" alt="">
                                                </div>
                                                <div class="rs-name-main">
                                                    <h6>Lorem ipsum dolor</h6>
                                                    <p>Lorem ipsum dolor</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rs-swiper-next-prev-btn-main rs-testimonials-next-prev">
                                    <div class="swiper-button-next rs-testimonials-slider-next">next</div>
                                    <div class="swiper-button-prev rs-testimonials-slider-prev">prev</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <% include /src/include/footer.ejs %>

            <% include /src/include/scripts.ejs %>


                <script>
                    var rsLestGoCarSwiper = new Swiper('.rs-lets-go-car-slider-container', {
                        navigation: {
                            nextEl: '.rs-lets-go-car-slider-next',
                            prevEl: '.rs-lets-go-car-slider-prev',
                        },
                    });
                </script>
                <script>
                    var rsLestGoCarSwiper = new Swiper('.rs-testimonials-slider-container', {
                        navigation: {
                            nextEl: '.rs-testimonials-slider-next',
                            prevEl: '.rs-testimonials-slider-prev',
                        },
                    });
                </script>


</body>

</html>