<header class="sticky-top">
    <nav class="navbar navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand">
                <img src="../img/logo-01.svg" alt="">
            </a>
            <div class="rs-header-right">
                <a href="#" class="btn btn-primary rs-btn-header-call">
                    Call
                    <span>123456789</span>
                </a>
            </div>
        </div>
    </nav>
</header>