<header>
    <!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow navbar-expand-md">
        <img class="mb-2 lms-header-logo" src="img/logistic-logo.svg" alt="" width="150">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        <nav class="my-2 my-md-0 mr-md-3" id="navbarsExample04">
            <a class="p-2 text-dark" href="#">Features</a>
            <a class="p-2 text-dark" href="#">Enterprise</a>
            <a class="p-2 text-dark" href="#">Support</a>
            <a class="p-2 text-dark" href="#">Pricing</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div> -->

    <nav class="navbar navbar-light rs-navber-main">
        <div class="container">
            <a class="navbar-brand"><img src="../img/logo-01.svg" alt=""></a>
            <div class="ts-call-btn-main">
                <a href="#" class="taxi-call-btn btn-primary">
                        Call
                        <span>123456789</span>
                    </a>
            </div>
        </div>
    </nav>

</header>